@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow Semi Condensed';
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 60rem;
    margin: 50px 0;
    display: grid;
    grid-template-columns: auto 25%;
    gap: 20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }